:root {
  font-size: 62.5%;
  box-sizing: border-box;
  --strongCyan: hsl(172, 67%, 45%);
  --activeCyan: hsl(176, 61%, 80%);
  --verydarkCyan: hsl(183, 100%, 15%);
  --darkgrayishCyan: hsl(186, 14%, 43%);
  --grayishCyan: hsl(184, 14%, 56%);
  --lightgreyishCyan: hsl(185, 41%, 84%);
  --verylightgrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}
* {
  box-sizing: inherit;
}
body {
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
  background: var(--lightgreyishCyan);
}
input {
  width: 100%;
  background-color: var(--verylightgrayishCyan);
  color: var(--verydarkCyan);
  border-radius: 5px;
  border: 1px solid transparent;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.header_logo {
  letter-spacing: 0.5rem;
  color: var(--verydarkCyan);
  margin-bottom: 5rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_card {
  background-color: var(--white);
  border-radius: 2rem;
  padding: 4rem;
  display: flex;
  width: 900px;
  height: px;
}
.calc_area {
  width: 50%;
  margin-right: 5rem; /* remove for media query*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.labels {
  margin-bottom: 0.75rem;
  display: block;
  color: var(--darkgrayishCyan);
}
#bill_input::placeholder,
#party_count::placeholder {
  color: var(--grayishCyan);
  opacity: 2;
}
#bill_input,
#party_count {
  text-align: right;
  padding-right: 1rem;
}
#bill_input:hover,
#tip_input:hover {
  border: 2px solid var(--strongCyan);
}

#tip_input {
  text-align: center;
}

#bill_input,
#party_count,
#tip_input {
  margin-right: 1rem;
}

#bill_input::-webkit-outer-spin-button,
#bill_input::-webkit-inner-spin-button,
#tip_input::-webkit-outer-spin-button,
#tip_input::-webkit-inner-spin-button,
#party_count::-webkit-outer-spin-button,
#party_count::-webkit-inner-spin-button {
  appearance: none;
}
.bill_area {
  position: relative;
}

.dollar_icon:before {
  content: "";
  position: absolute;
  left: 1.75rem;
  top: 2.5rem;
  bottom: 0;
  width: 12px;
  background: url(./images/icon-dollar.svg) center / contain no-repeat;
}

.party_area {
  position: relative;
}
.people_icon:before {
  content: "";
  position: absolute;
  left: 1.75rem;
  top: 2.5rem;
  bottom: 0;
  width: 12px;
  background: url(./images/icon-person.svg) center / contain no-repeat;
}
.label_wrapper {
  display: flex;
  justify-content: space-between;
}
.error_msg {
  color: rgba(219, 101, 4, 0.877);
}

input,
.calc_area button {
  font-size: 2.4rem;
  text-align: center;
  font-family: "Space Mono", monospace;
}
.calc_buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.percBtn {
  color: var(--white);
  background-color: var(--verydarkCyan);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.results_card {
  width: 50%;
  background-color: var(--verydarkCyan);
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tip_results {
  font-size: 1.6rem;
  color: var(--verylightgrayishCyan);
}
.totals .perPerson {
  color: var(--grayishCyan);
  font-size: 1.2rem;
}
.results {
  color: var(--strongCyan);
  font-size: 4.2rem;
}
#reset_btn {
  width: 100%;
  background-color: var(--strongCyan);
  color: var(--verydarkCyan);
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}
#reset_btn:hover {
  background-color: var(--activeCyan);
}

@media (max-width: 1000px) {
  body {
    background-color: var(--lightgreyishCyan);
    margin: 0;
  }
  .header_logo {
    margin-bottom: initial;
  }
  .container {
    position: initial;
    transform: translate(0);
  }
  .main_card {
    display: initial;
    width: 100vw;
    height: 100%;
    border-radius: 2rem 2rem 0 0;
    min-width: 320px;
    max-width: 640px;
  }
  .calc_area {
    width: 100%;
    margin-bottom: 2rem;
    gap: 3rem;
  }
  input,
  .calc_area button {
    font-size: 1.8rem;
  }
  .results_card {
    width: 100%;
    padding: 2rem;
  }
  .results_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .results {
    font-size: 3.2rem;
  }
  #reset_btn {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
}
